<div class="modal modal-wide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">{{persiana.nombre.charAt(0).toUpperCase() + persiana.nombre.slice(1)}}</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="card card-raised card-carousel">
								<div id="carousel-item" class="carousel slide" data-ride="carousel">
									<div class="carousel slide" data-ride="carousel">
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div *ngFor="let foto of persiana.galeria; let i = index" class="item" [class.active]="((i ==  0) ? true : false)" >
												<img [src]="foto.foto" />
											</div>
										</div>
										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-item" data-slide="prev">
											<i class="material-icons">keyboard_arrow_left</i>
										</a>
										<a class="right carousel-control" href="#carousel-item" data-slide="next">
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<h2>{{persiana.nombre.charAt(0).toUpperCase() + persiana.nombre.slice(1)}}</h2>
							<p>{{persiana.descripcion}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-simple">Nice Button</button>
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
