<div class="wrapper">
	<!-- Header -->
	<div class="header header-filter">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="landing-text">
						<h1>Homeblinds</h1>
						<h3>Decoramos la luz de tus ventanas</h3>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Header -->

	<!-- Main Page Raised (fondo blanco) -->
	<div class="main main-raised">
		<!-- Catalogo -->
		<div id="modelos" class="section section-basic">
	    	<div class="container">
	            <div class="title">
	                <h1>Nuestros Modelos</h1>
				</div>
				<div class="space-70"></div>
				<div class="row">
					<land-persiana *ngFor="let persiana of persianas; let i = index" [persiana]="persiana" [offset]="offset(i)" (cambioPersiana)="openDialog($event)"></land-persiana>
				</div>
	    	</div>
		</div>
		<!-- End Catalogo -->
			
		<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<ul>
						<li>
							<a href="https://github.com/NTHINGs/Homeblinds/blob/master/LICENSE">
								<i class="fa fa-gavel" aria-hidden="true"></i> Licencia
							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright pull-right">
					&copy; 2017, hecho con <i class="material-icons">favorite</i> por <a href="http://nthings.me">Mauricio Martinez</a>.
				</div>
			</div>
		</footer>
		<div class="space-50"></div>
	</div>
	<!-- End Main Page Raised (fondo blanco) -->
</div>

<item [nombre]="nombre"></item>
