---
import Slideshow from "../components/react/Slideshow";
import SiteLayout from "../layouts/SiteLayout.astro";
import { fetchProducts, fetchProductBySlug } from "../utils/api";

export async function getStaticPaths() {
  return fetchProducts().then((products) => {
    return products.map((product) => ({
      params: { slug: product.slug.toString() },
    }));
  });
}

const { slug } = Astro.params;
let product: any = null;

try {
  product = await fetchProductBySlug(slug);
} catch (error) {
  console.error('Failed to fetch product:', error);
}
---
<SiteLayout>
  <section class="py-10 bg-background my-auto">
  {product ? (
    <div class="container mx-auto px-4">
      <h2 class="text-6xl font-bold mb-4 text-strong-blue">{product.title}</h2>
      <div class="flex flex-col gap-8">
        <Slideshow client:load images={[product.image]} />
        <p class="text-4xl font-bold text-primary mb-4 text-light-blue">{product.price}</p>
        <p class="text-2xl mb-4">{product.description}</p>
        <a
          href="https://wa.me/+526181224760" 
          target="_blank"
          class="border-solid border-2 border-strong-blue bg-white text-strong-blue hover:bg-strong-blue hover:text-white py-4 md:mx-64 rounded text-2xl text-center"
          >Cotiza Ahora</a>
      </div>
    </div>
  ) : (
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4">Producto no encontrado</h2>
      <p class="mb-4">El producto que buscas no existe.</p>
    </div>
  )}
  </section>
</SiteLayout>
