---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Nosotros from "../components/Nosotros.astro";
---

<Layout title="Homeblinds">
  <main>
	<Header></Header>
	<Nosotros></Nosotros>
  </main>
</Layout>
