---
---

<a href="#" class="text-white">
    <i class="fab fa-facebook-f w-6 h-6"></i>
</a>
<a href="#" class="text-white">
    <i class="fab fa-instagram w-6 h-6"></i>
</a>
<a href="#" class="text-white">
    <i class="fab fa-whatsapp w-6 h-6"></i>
</a>
<a href="#" class="text-white">
    <i class="fab fa-at w-6 h-6"></i>
</a>
