---
import ContactLinks from '../components/ContactLinks.astro';
---

<footer class="bg-strong-blue text-white py-4">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="lg:pl-10 pt-3 text-center lg:text-left">
                <h1 class="text-xl font-bold">
                    <span class="text-white">HOMEBLINDS</span>
                </h1>
                <p>© 2024 Homeblinds. Todos los derechos reservados.</p>
            </div>
            <div class="p-2 mx-auto text-center">
                <a href="tel:6181224760" class="flex items-center space-x-2 justify-center	">
                    <i class="flaticon-llamada-telefonica"></i>
                    <span class="font-semibold">618 122 4760</span>
                </a>
                <div class="p-2 grid grid-cols-3 lg:flex lg:space-x-4 mt-4 lg:mt-0 items-center">
                    <a href="https://facebook.com/homeblindsdgo" target="_blank">
                        <i class="text-4xl flaticon-facebook p-2"></i>
                    </a>
                    <a href="https://instagram.com/homeblindsdgo" target="_blank">
                        <i class="text-4xl flaticon-instagram p-2"></i>
                    </a>
                    <a href="https://wa.me/+526181224760" target="_blank">
                        <i class="text-4xl flaticon-whatsapp p-2"></i>
                    </a>
                </div>
            </div>
        </div>
</footer>
