---
import ContactLinks from '../components/ContactLinks.astro';
---

<footer class="bg-strong-blue text-white py-4">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="pl-5">
                <h1 class="text-xl font-bold">
                    <span class="text-white">HOMEBLINDS</span>
                </h1>
                <p>© 2024 Homeblinds. Todos los derechos reservados.</p>
            </div>
            <div class="p-2 mx-auto">
                <ContactLinks />
            </div>
        </div>
    <!-- </div>  -->
</footer>
