---
import ContactLinks from '../components/ContactLinks.astro';
---

<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
        <div class="flex justify-center space-x-4">
            <ContactLinks />
        </div>
        <p>© 2024 Homeblinds. Todos los derechos reservados.</p>
    </div>
</footer>
