---
---
<section class="background-image">
	<div class="centered-image">
		<img src="imagen_superpuesta.png" alt="Imagen Superpuesta" />
	</div>
</section>
<style>
	.background-image {
		background-image: url("fondo_header.jpg");
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
	}
</style>
