---
import {
    Astronav,
    MenuItems,
} from "astro-navbar";
import ContactLinks from "./ContactLinks.astro";
---

<div class="sticky top-0 bg-white shadow-md text-gray p-5 z-50">
    <Astronav>
        <div class="flex justify-between items-center w-full">
            <!-- Left Section: Logo/Title -->
            <a href="/" class="flex-shrink-0">
                <h1 class="text-xl font-bold">
                    <span class="text-light-blue">HOME</span><span class="text-strong-blue">BLINDS</span>
                </h1>
            </a>
            
            <!-- Right Section: Contact Links and Menu Icon -->
            <div class="flex items-center ml-auto space-x-4">
                <div class="text-strong-blue text-2xl">
                    <div class="flex flex-row items-center space-x-4">
                        <a href="tel:6181224760" class="flex items-center space-x-2">
                            <i class="flaticon-llamada-telefonica"></i>
                            <span class="font-semibold hidden lg:block">618 122 4760</span>
                        </a>
                        <div class="flex space-x-4 items-center">
                            <a href="https://facebook.com/homeblindsdgo" target="_blank">
                                <i class="text-4xl flaticon-facebook"></i>
                            </a>
                            <a href="https://instagram.com/homeblindsdgo" target="_blank">
                                <i class="text-4xl flaticon-instagram"></i>
                            </a>
                            <a href="https://wa.me/+526181224760" target="_blank">
                                <i class="text-4xl flaticon-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="block lg:hidden text-strong-blue text-3xl">
                    <i class="flaticon-menu"></i>
                </div> -->
            </div>
        </div>
        
        <!-- Menu Items: Visible on larger screens -->
        <!-- <MenuItems class="hidden lg:flex lg:items-center w-full">
            <ul class="flex flex-col lg:flex-row gap-4 lg:gap-8">
                <li>
                </li>
            </ul>
        </MenuItems> -->
    </Astronav>
</div>
