---
import ContactLinks from "../components/ContactLinks.astro";
---

<nav class="bg-primary text-white">
    <div class="container mx-auto py-2 flex justify-between items-center">
        <div class="flex-grow">
            <h1 class="text-xl font-bold">Homeblinds</h1>
        </div>
        <div class="flex-1 flex justify-end flex-shrink-0">
            <ContactLinks />
        </div>
    </div>
</nav>
