---
const { title, price, image } = Astro.props;
---

<div class="product-card p-4 border rounded text-center">
    <a href="p/producto">
        <div class="w-full h-64 overflow-hidden mb-4">
            <img class="w-full h-full object-cover" src={image} alt={title} />
        </div>
        <h3 class="text-xl font-semibold mb-2">{title}</h3>
        <p class="text-gray-700">{price}</p>
    </a>
</div>
