---
const { title, icon, subtitle } = Astro.props;
---

<div class="service-feature p-4 border rounded text-center">
    <i class:list={[["fa w-6 h-6"], [icon]]}></i>
    <h3 class="text-xl font-semibold">{title}</h3>
    <p class="text-gray-700">{subtitle}</p>
</div>
