---
import '../styles/global.css';
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const isDev = import.meta.env.DEV
---

<html>
    <head>
        <title>Homeblinds</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            declare global {
                interface Window {
                    va: any;
                    vaq: any[];
                }
            }
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        { !isDev && 
            <script defer src="/_vercel/insights/script.js"></script>
            <script defer src="/_vercel/speed-insights/script.js"></script>
        }
    </head>
    <body class="font-sans text-text bg-background text-base flex flex-col min-h-screen">
        <Nav />
        <article class="flex-grow">
            <slot />
        </article>
        <Footer />

        <!-- <Chat /> -->
    </body>
</html>
